.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  height: 100;
  width: 100;
}
.formRegist {
  background-color: #801e8c;
  position: absolute;
  padding: 50px;
  opacity: 0.8;
  border-radius: 10px;
}
.userProfile {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  align-items: center;
  display: flex;
  background-color: red;
 
}
.label {
  color: white;
}
.formGroup {
  padding-bottom: 10px;

}
/* // style={{display:'flex',alignItems:"center",justifyContent:"center"}}
// id="container"
// "register-form" */
